extends layout

block content
    .header #{index_intro} #[h1 Bram van Riel]
    p #{index_howAreYou} 
    p #{index_whatDoYouDo} 
    p #{index_whatDoYouDoOgd} #[a(href="https://info.ogd.nl/",target="_blank") OGD] #{index_whatDoYouDoOgd2}
    p #{index_whyThisBlog}