extends layout

block content
  #header
    p #{index_intro}&nbsp;
    .text-primary Bram van Riel
  p #{index_howAreYou}
  p #{index_whatDoYouDo}
  p #{index_whatDoYouDoOgd}&nbsp;#[a.text-secondary(href="https://info.ogd.nl/",target="_blank") OGD] #{index_whatDoYouDoOgd2}
  p #{index_whyThisBlog}